.autocomplete-container {
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
}

.search-input {
  display: flex;
  padding: 5px;

  border: 1px solid #aaa;
  border-radius: 5px;
}

.search-input > img {
  width: 25px;

  user-select: none;

  filter: invert(92%) sepia(0%) saturate(132%) hue-rotate(156deg)
    brightness(79%) contrast(72%);

  margin-left: 8px;
}

.search-input > input {
  background-color: inherit;

  flex-grow: 1;

  font-size: 1em;

  padding: 5px 10px;
  border: none;
  box-sizing: border-box;
  margin-top: 2px;
}

.search-input > input:focus {
  outline: none;
}

.autocomplete-options {
  max-height: 200px;
  overflow-y: auto;

  animation: fadeIn 0.15s ease-out;

  border: 1px solid #aaa;
  padding-bottom: 3px;
  border-radius: 5px;
  margin-top: 5px;

  background-color: inherit;
}

.checkbox-option {
  font-size: 0.8em;
}

.checkbox-option,
.opt-wrapper {
  max-height: 40px;
}

.opt-wrapper {
  display: flex;
  align-items: center;

  padding-left: 30px;
}

.checkbox-option.selected > .opt-wrapper {
  background: none;
}

.opt-wrapper:hover {
  /* (prod) background-color: #bbbbbb2a; */
  /* (dev) background-color: #ddd; */
  background-color: #bbbbbb2a;

  border-radius: 10px;

  cursor: pointer;
}

.opt-wrapper:active {
  /* (prod) background-color: #cccccc30; */
  /* (dev) background-color: #ccc; */
  background-color: #cccccc30;
}

.checkbox-option.selected {
  /* (prod) background-color: #dddddd30; */
  /* (dev) background-color: #bbbbbbcc; */
  background-color: #dddddd30;
}

.opt-wrapper > p {
  margin-left: 40px;
  margin-bottom: 13px;

  user-select: none;

  max-width: 270px;

  word-wrap: break-word;
  text-align: left;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  max-width: 400px;

  margin-bottom: 10px;
}

.selected-opt {
  /* (prod) background-color: #dddddd30; */
  /* (dev) background-color: #bbbbbbcc; */

  display: flex;
  align-items: center;
  gap: 5px;

  max-height: 40px;

  animation: fadeIn 0.15s ease-out;

  border-radius: 20px;

  background-color: #dddddd30;

  font-size: 0.7em;

  cursor: pointer;
}

.selected-opt > img {
  width: 20px;

  filter: invert(92%) sepia(0%) saturate(132%) hue-rotate(156deg)
    brightness(79%) contrast(72%);
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
