.autocomplete-container {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #aaa;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  position: relative;

  margin: 0 auto;
}

.search-input {
  display: flex;
  padding: 5px;
}

.search-input > img {
  width: 25px;

  user-select: none;

  filter: invert(92%) sepia(0%) saturate(132%) hue-rotate(156deg)
    brightness(79%) contrast(72%);

  margin-left: 8px;
}

.search-input > input {
  background-color: inherit;

  flex: 1;

  font-size: 1em;

  padding: 5px 10px;
  border: none;
  margin-top: 2px;

  isolation: isolate;
  z-index: 1;
}

.search-input > input:focus {
  outline: none;
}

.autocomplete-options {
  position: absolute;

  top: 110%;
  margin-left: -1px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;

  animation: fadeIn 0.15s ease-out;

  border: 1px solid #aaa;

  border-radius: 3px;
  background-color: inherit;
  z-index: 10;
}

.checkbox-option {
  font-size: 0.9em;
}

.checkbox-option,
.opt-wrapper {
  max-height: 40px;
}

.opt-wrapper {
  display: flex;
  align-items: center;

  padding-left: 30px;
}

.checkbox-option.selected > .opt-wrapper {
  background: none;
}

.opt-wrapper:hover {
  background-color: #dddddd70;
  border-radius: 10px;

  cursor: pointer;
}

.opt-wrapper:active {
  background-color: #ccc;
}

.checkbox-option.selected {
  background-color: #bbbbbbcc;
}

.opt-wrapper > p {
  margin-left: 40px;
  margin-bottom: 13px;

  user-select: none;

  max-width: 300px;

  word-wrap: break-word;
  text-align: left;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
