.autocomplete-container {
  max-width: 400px;
  border: 1px solid #aaa;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
}

.search-input {
  display: flex;

  padding: 5px;

  border-bottom: 1px solid #aaa;
}

.search-input > img {
  width: 25px;

  filter: invert(92%) sepia(0%) saturate(132%) hue-rotate(156deg)
    brightness(79%) contrast(72%);

  margin-left: 8px;
}

.search-input > input {
  background-color: inherit;

  flex: 1;

  font-size: 1em;

  padding: 8px 10px;
  border: none;

  isolation: isolate;
  z-index: 1;
}

.search-input > input:focus {
  outline: none;
}

.checkbox-option,
.opt-wrapper {
  max-height: 40px;
}

.opt-wrapper {
  display: flex;
  align-items: center;

  padding-left: 30px;
}

.checkbox-option.selected > .opt-wrapper {
  background: none;
}

.opt-wrapper:hover {
  background-color: #ddd;
  border-radius: 10px;

  cursor: pointer;
}

.opt-wrapper:active {
  background-color: #ccc;
}

.checkbox-option.selected {
  background-color: #bbbbbbcc;
}

.opt-wrapper > p {
  margin-left: 40px;
  margin-bottom: 15px;

  user-select: none;

  max-width: 300px;

  word-wrap: break-word;
  text-align: left;
}
