.title {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
}

.university-requirements > .title {
  margin-bottom: -20px;
}

.uni-title {
  font-size: 1.1em;
  color: #737373;

  margin-bottom: -10px;
  margin-top: 50px;

  text-align: left;
}

.uni-group {
  display: flex;
  flex-direction: column;

  gap: 30px;
  max-width: 500px;
}

.requirement-group {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.major-name {
  text-align: left;
  font-style: italic;

  margin-bottom: -15px;
}

.requirement {
  border: 1px solid;
  border-radius: 8px;

  text-align: left;

  padding: 10px 30px;
}

.instructions {
  font-weight: bold;

  margin-bottom: 0px;
}

.requirement > .lettered-group,
.requirement > .course-group {
  display: flex;
  flex-direction: column;

  padding: 5px;
  margin-top: 10px;
}

.requirement > .lettered-group {
  border-bottom: 1px solid;
}

.requirement > .lettered-group:last-child {
  border-bottom: none;
}

.group-header {
  display: flex;
  align-items: center;

  gap: 20px;
}

.group-header:has(.n-course-indicator) {
  margin-bottom: -5px;
}

.group-letter {
  padding: 5px 12px;
  border: 2px solid;
  border-radius: 50%;
}

.n-course-indicator {
  background-color: #aaa;

  border-radius: 40px;
  padding: 2px 20px;

  font-size: 0.9em;
}

.n-credits-indicator {
  background-color: #aaa;

  border-radius: 20px;
  padding: 0px 20px;

  font-size: 0.8em;
}

.course-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  text-align: left;
}

.course-identifier {
  margin-right: 10px;
  max-width: 375px;
}

.units {
  border: 1px solid #aaa;
  border-radius: 50px;

  font-size: 0.9em;
  text-align: center;

  width: 80px;
}

.dropdown {
  background-color: #aaa;
  mask-image: url(../assets/arrow-down-drop-circle.svg);

  padding: 12px 12px;
  border: 1px solid;
  border-radius: 50%;
}
