.title {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
}

.university-requirements > .title {
  margin-bottom: -20px;
}

.uni-title {
  font-size: 1.1em;
  color: #737373;

  margin-bottom: -10px;
  margin-top: 50px;

  text-align: left;
}

.uni-group {
  display: flex;
  flex-direction: column;

  gap: 30px;
  max-width: 500px;
}

.requirement-group {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.major-name {
  text-align: left;
  font-style: italic;

  margin-bottom: -15px;
}

.requirement,
.plan-courses {
  border: 1px solid;
  border-radius: 8px;

  text-align: left;

  padding: 10px 30px;
}

.instructions {
  font-weight: bold;

  margin-bottom: 0px;
}

.requirement > .lettered-group,
.requirement > .course-group {
  display: flex;
  flex-direction: column;

  padding: 5px;
  margin-top: 10px;
}

.requirement > .lettered-group {
  border-bottom: 1px solid;
}

.requirement > .lettered-group:last-child {
  border-bottom: none;
}

.group-header {
  display: flex;
  align-items: center;

  gap: 20px;
}

.group-header:has(.n-course-indicator) {
  margin-bottom: -5px;
}

.group-letter {
  padding: 5px 12px;
  border: 2px solid;
  border-radius: 50%;
}

.n-course-indicator {
  background-color: #dddddd30;

  border-radius: 40px;
  padding: 2px 20px;

  font-size: 0.9em;
}

.n-credits-indicator {
  background-color: #dddddd30;

  border-radius: 20px;
  padding: 0px 20px;

  font-size: 0.8em;
}

.course-item,
.ccc-articulation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  font-size: 0.9em;
  text-align: left;
}

.course-identifier {
  margin-right: 10px;
  max-width: 375px;
}

.units {
  border: 1px solid #aaa;
  border-radius: 50px;

  font-size: 0.9em;
  text-align: center;

  width: 80px;
}

.plan-courses {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid;
  border-radius: 8px;
}

.ccc-articulation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid;

  padding: 10px 0;
}

.ccc-articulation:last-child {
  border-bottom: none;
}

.articulation-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.articulation-info,
.dropdown {
  background-color: #bbbbbb2a;

  width: 35px;
}

.articulation-info {
  padding: 0px 8px;

  display: inline-block;
}

.articulation-info > img {
  filter: invert(92%) sepia(0%) saturate(132%) hue-rotate(156deg)
    brightness(79%) contrast(72%);

  margin-top: 5px;
  margin-left: -1px;
  width: 20px;
}

.dropdown {
  display: flex;
  justify-content: center;
  padding: 0 8px;
  font-size: 2em;
  line-height: 30px;
}

.dropdown span {
  transform: translateY(-5px);
}

.articulation-dropdown {
  max-width: 375px;

  border: 1px solid;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;

  animation: fadeIn 0.15s ease-out;
}

.articulation-dropdown > .subtitle {
  font-weight: bold;
}

.articulation-dropdown > .subtitle > span {
  font-weight: normal;
}

.articulation-dropdown > ul {
  padding: 0;
  padding-left: 20px;
}

.remove-course {
  padding: 4px 30px;
  margin-top: 5px;
  border: 1px solid #a62424;
  border-radius: 8px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 1px 3px rgba(0, 0, 0, 0.2);

  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 1em;
  font-weight: bold;

  background: linear-gradient(
    to bottom,
    #db8181 0%,
    #d37575 45%,
    #c05353 55%,
    #b32d2d 100%
  );

  user-select: none;
  cursor: pointer;
}

.remove-course:active {
  background: linear-gradient(
    to bottom,
    #cb6464 0%,
    #d37575 45%,
    #db8181 55%,
    #e49292 100%
  );

  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.8);

  transform: translateY(1px);
}

.remove-course:focus {
  outline: 2px solid #000;
}

.remove-course:hover {
  background: linear-gradient(
    to bottom,
    #e49292 0%,
    #db8686 45%,
    #cb6464 55%,
    #bc3d3d 100%
  );
}

.choice-btns {
  display: flex;
  gap: 10px;
}

.choice-btns > button {
  background-color: #bbb;
}
